
html {
    margin: 10px auto;
    width: 80%;
    scroll-behavior: smooth;
    align-items: center;
    font-family: Arial,sans-serif ;
    font-size: 1em;
    background-color: antiquewhite;
    box-shadow: 10px 5px 5px grey;
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    background-color: white;
}

.HeroContent {
    margin-right: 20px;
    margin-left: 20px;
}

pre {
    margin-left: 0 auto;
    font-size: 1em;
    font-family: monospace;
    background-color: aliceblue;
    box-shadow: 10px 5px 5px grey;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    text-align: center;
    font-family: Times New Roman,serif;
}
h2 {
    font-size: 2em;
    text-align: center;
    font-family: Times New Roman,serif;
}
footer {
    background-color: orange;
}
.year {
    text-align: justify;
}
nav {
    background-color: orange;
}
.HeroList {
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 5px;
    position: relative;
    width: inherit;
}
footer {
    width: inherit;
    display: grid;
    grid-template-columns: 35% auto 35%;
    column-gap: 0px;
}
footer div {
    width: inherit;
    height: inherit;
}

.year {
    text-align: center;
    font-size: 2em;
    height: inherit;
}
ul li::marker {
    color: darkorange;
    font-size: 1.5em;
}
#ContList li::marker {
    font-size: 0;
  }
